{% extends 'base.html' %}

{% block content %}
<!-- <h5>Nama: </h5>
<p>{{nama}}</p> -->

<nav class="navbar mx-auto rounded-bottom rounded-2">
    <div class="container-fluid">
      <button type="button" style="position: absolute; right: 0;"><a href="{% url 'wishlist:logout' %}">Keluar</a>
        <!-- <span class="navbar-toggler-icon"></span> -->
      </button>
    </div>
</nav>

<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nama Barang</th>
            <th scope="col">Harga Barang</th>
            <th scope="col">Deskripsi</th>
        </tr>
    </thead>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
        <tr>
            <th scope="row">{{barang.nama_barang}}</th>
            <th scope="row">{{barang.harga_barang}}</th>
            <th scope="row">{{barang.deskripsi}}</th>
        </tr>
    {% endfor %}
</table>

<p>Sesi terakhir login: {{ last_login }}</p>

<!-- <button><a href="{% url 'wishlist:logout' %}">Keluar</a></button> -->

{% endblock content %}